/* styles.css */

/* Styles communs aux 3 front signup, login et profil */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* Classe pour englober le contenu des pages, pareil pour les 3 formulaires */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

/* Classe pour le titre */
.title {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff; /* Couleur bleue pour le titre */
}

/* Classe pour les labels */
.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Classe pour les champs de saisie */
.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Classe pour les boutons, pareil pour les 3 formulaires */
.button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Couleur bleue pour le bouton */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
